# Dependencies
node_modules/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

stremio-stream-store*
commands.txt
asset*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime files
pids
*.pid
*.seed
*.pid.lock

# Build output
dist/
build/
coverage/

# Cache
.cache/
.parcel-cache/
.next/
.nuxt/
.svelte-kit/

# TypeScript
*.tsbuildinfo

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Temporary files
tmp/
temp/

# Misc
*.swp
*.zip
